@use 'settings/color';
@use 'settings/font';
@use 'settings/reset';
@use 'settings/size';
@use 'settings/zindex';

@use 'tools/addFlex';
@use 'tools/mediaQuery';

html,
body {
    padding: 0;
    margin: 0;
    font-family:
        -apple-system,
        BlinkMacSystemFont,
        Segoe UI,
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        Fira Sans,
        Droid Sans,
        Helvetica Neue,
        sans-serif;

    color: var(--negative);
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}
