:root {
    --primary-blue: #147af3;
    --bg-soft-peach: #ebedf2;
    --bg: #f8f8f8;
    --bg-white-smoke: #f5f5f5;
    --bg-seashell: #f0f1f2;
    --bg-porcelain: #f2f2f2;
    --blue-zodiac: #14274e;
    --rhino: #394867;
    --snata-grey: #9ba4b4;
    --catskill-white: #f0f5f9;
    --iron: #c9d6df;
    --dark: #222831;
    --info: #3892f3;
    --success: #008f5d;
    --alert: #f68524;
    --negative: #ea3829;
    --black: #1c1c1e;
    --baltic-sea: #2c2c2e;
    --iridium: #3a3a3c;
    --gravel: #48484a;
    --storm-dust: #636366;
    --oslo: #8e8e93;
    --aluminium: #aeaeb2;
    --silver: #c7c7cc;
    --goose: #d1d1d6;
    --mercury: #e5e5ea;
    --porcelain: #f2f2f7;
    --white: #ffffff;
    --unnamed-color-707070: #707070;
    --gray-border: #cacaca;
    --slate-box-shadow: #00000026;
    --lightgray-hover: #f5f6ff;
    --dark-gray-box-shadow: #00000029;
    --offWhite: #e2eefc;
    --bg-powder-orange: #fff1f1;
    --faded-black: #747474;
    --black: #000000;
    --charcoal: #242424;
    --silver-cloud-border: #d1d1d600;
    --ghost-white: #f0f0f0;
    --pale-gray: #e6e6e6;
    --charcoal-gray: #6d6d6d;
    --dark-black-red: rgba(255, 0, 0, 0.1);
    --Iridium: #3c3c3c;
    --carbon-grey: #5c5c5c;
    --golden: #ad9547;
    --gray: rgba(54, 54, 54, 0.82);
    --buff: #fff0a5;
}
