* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;

    & > li::before {
        content: '';
    }
}

html {
    scroll-behavior: smooth;
}

h1,
h2,
h3,
p,
pre {
    margin: 0;
    padding: 0;
    border: 0;
}
