@use 'sass:math';

// Mobile or small device
$screen-sm: 480px;

// Tablets or iPad
$screen-md: 768px;

// Laptop or large-size
$screen-lg: 1024px;

//  Extra-large size device
$screen-xl: 1200px;

@function pxTopercentContent($target) {
    @return math.div($target, 13.66) * 1%;
}

@function pxTorem($target, $parent: 16) {
    @return #{math.div($target, $parent)}rem;
}

@function pxTovw($target) {
    @return #{math.div($target, 13.66)}vw;
}
